.footer{
    display:flex;
    padding:20px;
    width:80%;
    position:relative;
    text-align: center;
    background-color: #1e1e1e;
}


.column{
    flex:1;
    padding:10px;
    text-align:center;
}